/* MARK: Fonts */

/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    font-weight: 100 900;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('../static/fonts/Montserrat.woff2') format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 100 900;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url('../static/fonts/Montserrat-Italic.woff2') format('woff2');
}

/* Replaces some charcters with versions from from Stylistic Set 1 (ss01).
   
   Replacements (normal):
     - 'a' (U+61): The single storey lowercase 'a' in ss01 harmonizes well with lowercase letters
                   'b', 'd', 'g', 'o', 'p', and, 'q'.
     - 'y' (U+79): The lowercase 'y' in the default set is angular and has a unique descender,
                   wheras in ss01 it is rounded and has the same style descender as 'g'.
   Replacements (italic):
     - 'y' (U+79): As above.
 */
@font-face {
    font-family: 'Montserrat';
    font-weight: 100 900;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('../static/fonts/Montserrat.woff2') format('woff2');
    font-feature-settings: "ss01" on;
    unicode-range: U+61, U+79;
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 100 900;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url('../static/fonts/Montserrat-Italic.woff2') format('woff2');
    font-feature-settings: "ss01" on;
    font-variant: styleset("ss01")
    unicode-range: U+79;
}

/* Exo 2 */
@font-face {
    font-family: 'Exo 2';
    font-weight: 100 900;
    font-style: normal;
    font-stretch: normal;
    font-display: swap;
    src: url('../static/fonts/Exo2.woff2') format('woff2');
}

@font-face {
    font-family: 'Exo 2';
    font-weight: 100 900;
    font-style: italic;
    font-stretch: normal;
    font-display: swap;
    src: url('../static/fonts/Exo2-Italic.woff2') format('woff2');
}


/* MARK: Main styles */

:root {
    font-size: 20px;
}

body {
    margin: 0;
    background-color: hsla(172, 26%, 23%, 1.0);
    color: hsla(0, 0%, 80%, 0.7);
    font-family: "Exo 2", sans-serif;
    line-height: 1.5;
}

p, h1, h2, h3, h4, h5, h6 { margin: 1.5em 0;  /* matches line-height*/ }

a:link { color: #7ABBFF; }
a:visited { color: #B9A8FF; }

.cms-grid {
    height: calc(100vh - 32px);
    display: grid;
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 32px;
    grid-template-columns: 256px 800px 1fr;
    grid-template-rows: 32px 1fr;
    column-gap: 16px;
    row-gap: 16px;
    grid-template-areas:
      "head search ."
      "nav main main";
}

.cms-grid-header-area {
    grid-area: head;
}

.cms-grid-search-bar-area {
    grid-area: search;
    
}

.cms-grid-content-area {
    grid-area: main;
    background-color: #3F5754;
}

.cms-grid-navigation-area {
    grid-area: nav;
    overflow-y: auto;
    scrollbar-color: #00000000 #00000000;
    scrollbar-width: thin;
}

.cms-grid-navigation-area:hover {
    scrollbar-color: hsla(0, 0%, 80%, 0.5) #00000000;
    scrollbar-width: thin;
    transition: all 0.1s ease-in;
}

/* Style scrollbars for Webkit/Blink based browsers. */
.cms-grid-navigation-area::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.cms-grid-navigation-area::-webkit-scrollbar-track {
    background: transparent;
}

.cms-grid-navigation-area::-webkit-scrollbar-thumb {
    border-radius: 2px;
}

.cms-grid-navigation-area:hover::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 80%, 0.5);
    border-radius: 2px;
}

.cms-grid-navigation-area:hover::-webkit-scrollbar-thumb:hover {
    background-color: hsla(0, 0%, 80%, 0.7);
    border-radius: 2px;
}

.cms-journal-brand-label {
    margin: 0;
    line-height: 1.0;
    font-family: Montserrat;
    font-size: 32px;
}

.cms-journal-search-bar {
    border: none;
    width: 700px;
    height: 100%;
    background-color: #3F5754;
}

.cms-journal-navigation {
    font-size: 16px;
    font-weight: 300;
    line-height: 2.0;
}

.cms-journal-navigation ul,ol {
    list-style: none;
    padding-left: 1ch;
}

.cms-journal-navigation h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0;
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
}

.cms-journal-nav-active-section {
    font-weight: 600;
}
